.wrapper {
  position: relative;
  cursor: pointer;
}

.wrapperInner {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  .profileImg {
    object-fit: cover;
  }
}

.profileDefault {
  background: #F3F3F3;
  border: 1px solid #E6E6E6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 36px/140% "Inter";
  text-transform: capitalize;
}

.profilePhotoBtn {
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  transition: 0.2s ease;
  transform: scale(.70);

  &:hover {
    transform: scale(1);
    opacity: 1;
  }
}